.container {
    border-radius: 9999px;
    background-color:  #1572A1;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}