.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 25px;

  & > p {
    color: rgb(136, 136, 136);
    margin-left: -10px;
  }

  .bold {
    color: black;
    font-weight: 600;
    font-size: 18px;
  }
}
