.container {
  width: 300px;
  padding: 25px;

  display: grid;
  gap: 25px;

  border: 1px solid rgb(76, 76, 76);
  border-radius: 15px;

  background-color: white;
  box-shadow: 5px 5px 0 0 rgb(186, 186, 186);

  transform: translateY(-50%);
}
