.primaryButton {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--background-color);
  color: white;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 0 0 var(--shadow-color);
  }

  &.disabled {
    cursor: default;
    background-color: rgb(197, 195, 195);

    &:hover {
      top: 0px;
      left: 0px;
      box-shadow: 0px 0px 0 0 rgb(58, 229, 206);
    }
  }

  &.reversed {
    color: rgb(231, 0, 0);
    color: var(--background-color);
    background-color: white;

    border: 1px solid var(--background-color);
  }
}
