.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #fff;
  width: calc(100vw - 400px);
  // height: calc(100vh - 100px);
  border-radius: 20px;
  padding: 20px 80px;
  padding-right: 120px;

  .header {
    display: grid;

    .title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .name {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }
      }

      .users {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;
      }
    }

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
      color: rgb(73, 73, 73);
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 250px);
    padding: 10px;
    overflow-x: visible;
    overflow-y: scroll;

    .deleteGroup {
      margin-top: 40px;
    }
  }

  & > .close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
