.container {
  width: 100%;
  height: 100%;

  padding: 10px 40px 10px 30px;
  background-color: white;
  box-shadow: -4.8px -4.8px 18px rgba(0, 166, 202, 0.11);
  display: flex;
  gap: 33px;

  border-top-left-radius: 30px;

  .calendar {
    width: 100%;
    height: 100%;
    display: grid;

    .picker {
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
    }

    .calendarMain {
      height: 100%;
      padding: 10px;
      overflow: hidden;
    }
  }

  .sideMenu {
    width: 200px;
    height: 100%;
  }
}
