.groupContainer {
  position: relative;
  top: 0;
  left: 0;

  display: grid;
  gap: 20px;

  background-color: white;

  width: fit-content;
  padding: 30px;
  margin: 20px;
  max-height: 315px;

  // border: 0.5px solid rgb(113, 113, 113);
  border: 0.562212px solid rgba(0, 165, 202, 0.602);
  border-radius: 30px;

  font-size: 16px;
  font-weight: 500;

  .introduction {
    display: grid;
    gap: 10px;
    justify-content: center;
    .name {
      font-family: 'Baloo 2';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      color: #00a6ca;
      align-self: center;
    }

    .numOfUser {
      width: fit-content;
      display: flex;
      gap: 5px;
      padding: 5px 10px;
      border-radius: 999px;
      font-size: 20px;
      background-color: #00a6ca;
      color: white;
      justify-self: center;
    }
  }

  .description {
    color: #74797a;
  }

  .adminInfo {
    display: flex;
    gap: 5px;
  }
}
