.schedule-container {
    width: 70%;
    height: 93%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 3%;
    box-shadow: 0 0 10px rgb(132, 240, 240);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}