.container {
  min-width: 400px;
  padding: 50px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #fff;

  .users {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .user {
      width: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
}
