.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: 0.3s;

  border-radius: 10px;
  padding: 5px;
  font-weight: 500;

  &.withName {
    cursor: pointer;
    border: 1px solid #00a5ca85;
  }

  &.choosing {
    // border: 5px solid #00a6ca;
    background-color: #00cc2950;
    border: 2px solid #00a5ca;
    color: rgb(0, 0, 0);
  }

  &:not(.withName)::before {
    content: '';
    transition: 0.3s;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 0px;
    transform-origin: 50% 50%;
    transform: translate(-50%, -100%) rotate(45deg);
    background-color: #00a6ca;
    opacity: 0;
    z-index: 0;
  }
  &:not(.withName)::after {
    content: attr(userName);
    transition: 0.3s;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translate(-50%, -100%);
    background-color: #00a6ca;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    width: max-content;
    opacity: 0;
    z-index: 0;
  }

  &:not(.withName):hover {
    &::before {
      opacity: 1;
      top: -4px;
      z-index: 2;
    }
    &::after {
      opacity: 1;
      top: -9px;
      z-index: 2;
    }
  }

  .remove {
    position: absolute;
    cursor: pointer;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transition: 0.2s;

    &:hover {
      background-color: rgb(253, 87, 87);
    }
  }

  img {
    width: var(--size);
    height: var(--size);
    border-radius: 999px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      width: max-content;
    }

    p:nth-child(2) {
      font-weight: 400;
      color: rgb(0, 0, 0);
    }
  }

  .info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .state {
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    // top: 5px;

    & > div {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      gap: 5px;
      border-radius: 999px;
      p {
        color: white;
        font-size: 0.9rem;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .response {
    justify-self: flex-end;

    p {
      min-width: 100px;
      width: max-content;
      padding: 5px 10px;
      margin-left: 10px;
      margin-bottom: 5px;
      border-radius: 0 15px 15px 15px;
      background-color: #fff;
      border: 1px solid #00a6ca;
    }
  }
}
