.taskCards {
  position: relative;
  width: 100%;
  height: 100%;

  transition: 0.5s;
}

.groupTask {
  position: absolute;
  background-color: #f9b122;
  margin: 0 3px;
  border-radius: 10px;

  transition: 0.5s;
}

.suggestionTask {
  position: absolute;
  background-color: #22cef9;
  margin: 0 3px;
  border-radius: 10px;

  cursor: pointer !important;

  transition: 0.5s;

  z-index: 100;

  &:hover {
    background-color: rgb(0, 60, 255);
  }
}

.now {
  position: absolute;
  background-color: #ff0000;
  border-radius: 10px;
  margin: 0 3px;
  border-radius: 10px;
}
