.calendar-container {
    width: 85%;
    height: 90vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 25px ;
    box-shadow: -5px -5px 5px rgba(191, 187, 187, 0.5);
}
