.container {
  display: flex;
  flex-direction: column;
  gap: 20px !important;

  .userList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}
