.container {
  display: flex;
  flex-direction: column;
  gap: 20px !important;

  &>p {
    margin-top: 10px;
    font-weight: 600;
  }

  .userList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}
