.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-top-left-radius: 30px;
  overflow-y: scroll;
  background-color: #fff;

  .createGroup {
    position: relative;
    top: 0;
    left: 0;

    width: fit-content;
    padding: 15px 20px;
    outline: none;
    border: none;
    // border: 1px solid black;
    border-radius: 10px;
    background-color: #00a6ca;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
      top: -5px;
      left: -5px;
      box-shadow: 5px 5px 0 0 rgb(58, 229, 206);
    }
  }

  h2 {
    margin-left: 15px;
    margin-bottom: -20px;
    font-size: 18px;
    font-weight: 600;
  }

  .groupList {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;

    .groupContainer {
      position: relative;
      top: 0;
      left: 0;

      display: grid;
      gap: 20px;

      background-color: white;

      width: max-content;
      min-width: 300px;
      max-width: 600px;
      height: max-content;
      padding: 30px;
      margin: 20px;

      border: 0.562212px solid rgba(0, 165, 202, 0.602);
      border-radius: 10px;

      transition: 0.3s;

      font-size: 16px;
      font-weight: 500;

      .introduction {
        display: grid;
        gap: 10px;

        .name {
          font-size: 18px;
          font-weight: 600;
        }

        .numOfUser {
          width: fit-content;
          display: flex;
          gap: 5px;
          padding: 5px 10px;
          border-radius: 999px;
          font-size: 14px;
          background-color: #00a6ca;
          color: white;
        }
      }

      .description {
        color: #74797a;
      }

      .adminInfo {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .detail {
        display: flex;
        gap: 20px;
        width: 100%;
        transition: 0.3s;
        height: 0;
        overflow: hidden;
      }

      &:hover {
        top: -5px;
        left: -5px;
        box-shadow: 5px 5px 0 0 rgb(58, 229, 206);

        .detail {
          padding: 5px;
          height: 50px;
        }
      }
    }
  }
}
