.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  .informationBox {
    height: 100%;
    width: 170px;
    background-color: red;
  }

  .mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .header {
      background: black;
    }
  }
}
